@import "./mixin.scss";

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #FFECB3;
    color: black;
    box-sizing: border-box;
}

.row {
    flex-direction: row;
}

.header {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(255, 250, 225, 0.4);
    z-index: 10;

    .logo {
        display: flex;
        width: fit-content;
        margin-left: 50px;
        padding-right: 5px;
        padding-top: 3px;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all 0.2s;
        @media (max-width:765px) {
            margin: 0 auto;
        }

        .logo-img {
            display: flex;
            width: 50px;
            height: 50px;
            background-image: url(images/logo.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .logo-title {
            display: flex;
            font-size: 24px;
            align-items: center;
            color: #8E24AA;
        }
    }
    .logo:hover {
        background: linear-gradient(to bottom, transparent, #FF6F00);
        border-bottom: 3px solid rgb(255, 250, 225);
        transition: all 0.2s;
    }
}

.cover-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(images/rover-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -56px;
    @media (max-width: 1023px) {
        flex-direction: column;
        height: fit-content;
        min-height: 100vh;
    }

    .cover-overlay {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 111, 0, 0.7);
        color: rgb(0, 25, 50);
        justify-content: center;
        align-items: center;
        @media (max-width: 1023px) {
            flex-direction: column;
            height: fit-content;
            min-height: 100vh;
        }

        .main-container {
            display: flex;
            width: 80%;
            height: 80%;
            margin-top: 56px;
            background-color: rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.6);
            padding: 15px;
            @media (max-width: 1023px) {
                flex-direction: column;
                height: fit-content;
                min-height: 100vh;
            }

            .main-col-1 {
                display: flex;
                flex: 0 0 30%;
                max-width: 30%;
                height: fit-content;
                flex-wrap: wrap;
                @media (max-width: 1023px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    height: fit-content;
                }

                .title {
                    display: flex;
                    flex: 0 0 100%;
                    max-width: 100%;
                    color: #FFF8E1;
                    font-size: 24px;
                    line-height: 30px;
                    margin-bottom: 50px;
                    @media (max-width:765px) {
                        font-size: 18px;
                        margin-bottom: 0px;
                    }
                }

                .input-container {
                    display: flex;
                    flex: 0 0 100%;
                    max-width: 100%;
                    flex-wrap: wrap;

                    .cam-option-hidden {
                        display: none;
                    }

                    .rover-select-container, .camera-select-container, .sol-select-container {
                        display: flex;
                        flex: 0 0 100%;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 15px 0px;
                    }
                    
                    h2 {
                        display: flex;
                        flex: 0 0 40%;
                        color: #FFF8E1;
                        margin-right: 10px;
                    }

                    select, input, .get-photos-btn {
                        display: flex;
                        flex: 0 0 50%;
                        max-width: 50%;
                        font-family: 'Space Grotesk', sans-serif;
                        font-size: 14px;
                        line-height: 20px;
                        background-color: rgba(255, 250, 225, 0.7);
                        border: 1px solid #FFF8E1;
                        border-radius: 0;
                        color: black;                        
                        transition: all 0.3s ease-in-out;
                    }

                    select:hover, input:hover {
                        cursor: pointer;
                        color: #EA80FC;
                        border: 1px solid #EA80FC;
                        transition: all 0.2s ease-in-out;
                        background-color: rgba(0, 0, 0, 0.6);
                    }

                    .sol-select {
                        padding: 0;
                        line-height: 18px;
                        text-align: center;
                        max-width: 50%;
                    }

                    select:focus, input:focus {
                        outline: none;
                        color: #EA80FC;
                        border: 1px solid #EA80FC;
                        background-color: rgba(0, 0, 0, 0.6);
                    }

                    .get-photos-btn {
                        max-width: 150px;
                        margin: 15px auto;
                        justify-content: center;
                        line-height: 20px;
                        transition: all 0.3s ease-in-out;
                    }

                    .get-photos-btn:hover {
                        background-color: rgba(0, 0, 0, 0.6);
                        color: #EA80FC;
                        border: 1px solid #EA80FC;
                        cursor: pointer;
                        transform: scale(1.1);
                        transition: all 0.3s ease-in-out;
                    }

                    .get-photos-btn:focus {
                        outline: none;
                    }
                } 
            }

            .main-col-2 {
                display: flex;
                flex: 0 0 70%;
                max-width: 70%;
                @media (max-width: 1023px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                .photo-items-container {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-content: flex-start;
                    overflow-y: scroll;

                    .photo-img {
                        display: flex;
                        box-sizing: border-box;
                        flex: 0 0 25%;
                        max-width: 25%;
                        padding-top: 100%;
                        background-color: rgba(0, 0, 0, 0.4);
                        padding: 15px;
                        transition: all 0.5s ease-in-out;
                        @media (max-width: 1023px) {
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                        @media (max-width: 765px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }

                    .photo-image-active {
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        flex: 0 0 100%;
                        max-width: 75%;
                    }

                    .photo-img:hover {
                        transition: all 0.5s ease-in-out;
                        background-color: #EA80FC;
                        cursor: pointer;
                        @media (max-width: 765px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}